.top-hero-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url('top1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  background-attachment: fixed;
}

.h1-text{
  margin-top: 500px;
  margin-left: -70px;
  font-size: 70px;
  font-family: HiraMinPro-W6;
  color: #ffffff;
}

.h2-text{
  font-family: HiraMinPro-W6;
  margin-left: -40px;
  color: #ffffff;
  font-size: 35px;
}


.navbar {
  height: 100px;
}

.navbar-transparent{
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important ;
  }
}

.navigation{
  margin-top: 40px;
  width: 500px;
  height: 60px;
  text-align: right;
}

.navigation-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: transparent;
  border: solid 2px #20b2aa;
  border-radius: 50px;
  font-family: Comic Sans MS;
  font-size: 15px;
  color: #fff;
}

.navigation-button-2 {
  padding: 10px 20px;
  background-color: transparent;
  border: solid 2px #20b2aa;
  border-radius: 30px;
  font-family: Comic Sans MS;
  font-size: 15px;
  color: #fff;
}


.pull-right{
  margin-right: 90px;
}



.middle-hero-wrapper {
  //background-image: url('top1.jpg')
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color:#fdf5e6 ;
  background-attachment: fixed;
}


.middle-text{
  margin-top: 30px;
  font-size: 50px;
  font-family: HiraMinPro-W6;
  color: #ffd700;
}

.middle-text-2{
  font-family: HiraMinPro-W6;
  margin-left: -40px;
  color: #ffffff;
  font-size: 35px;
}


.under-hero-wrapper {
  //background-image: url('top1.jpg')
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100% ;
  background-color: #fff0f5;
  background-attachment: fixed;
  img{
    height: 230px;
    width: 380px;
  }
}


.under-text{
  margin-top: 10px;
  font-size: 50px;
  font-family: HiraMinPro-W6;
  color: #ffffff;
}

.under-text-2{
  font-family: HiraMinPro-W6;
  color: #ffffff;
  font-size: 35px;
}

.copyright{
  color: #000;
  text-align: center;
  padding: 10px 0px;
  background-color: #dcdcdc;
  margin-bottom: -10px;
}

.img{
  width: 40px;
  height: 40px;
}

.middle-content{
  font-size: 35px;
  font-family: HiraMinPro-W6;
  margin-bottom: -20px;
}

.under-content{
  margin-top: 2s0px;
}

.top-content{
  margin-top: 30px;
}


.tiiki-content{
  padding: 10px 10px;

}

.tiiki-text{
  font-size: 15px;
  font-family: Hiragino Kaku Gothic Pro;
  line-height: 35px;
}


.user-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  background-attachment: fixed;
}

.alert{
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: #c0c0c0;
}

.user-h1-text{
  color:#ffffff;
  margin-top: 40px;
}

.form-user{
  margin-top: 20px;
}

.text-while{
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px;
}

.login-text{
  color: #ffffff;
}

.profil-title{
  font-size: 30px;
  font-family: HiraMinPro-W6;
  margin-top: 130px;
  border: solid;
  padding-top: 10px;
  width: 400px;
  height: 80vh;
  
  .user-image {
  width: 100%;
  height: 100%;
  margin-left: -15px;
  margin-bottom: 10px;
  border-radius: 20%;
  display: block;
  background-position: top center;
  background-size: cover;
  }
}

.user-image-form{
  padding-left: 20px;
  margin-top: 30px;
}

.toroku-text {
  font-size: 15px;
  margin-left: 10px;
  border: solid 1px #4b0082;
  padding: 5px 5px;
  margin-bottom: 10px;
  color: #4b0082;
}

.user-form-text {
  font-size: 25px;
  margin: 5px 0px;
  font-family: arial unicode ms;
  color: #696969;
}

.mypage-profil-content {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
  background-attachment: fixed;
}

.user-title {
  font-size: 30px;
  font-family: Hiragino Kaku Gothic Pro;
  color: #696969;
  border: bold;
}

.user-form-text{
  margin-bottom: -8px;
}

.user-name-in{
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 25px;
  font-family: 游ゴシック;
}

.user-description-in {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;  
}


.back{
  background-color: #efefef;
}

.menu-content {
  margin-top: 120px;
  height: 300px;
  width: 200px;
  background-color: #fffafa;
  line-height: 30px; 
  padding-top: 30px;
}

.side-menu{
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}


.slideshow{
  margin-top: -290px;
  margin-bottom: 300px;
  width: 500px;
  height: 300px;
  background-color: #fff;
}


.user-image-spot{
  margin-left: 10px;
  padding-top: 20px;
  padding-left: 150px;
  width: 600px;
  height: 200;
}

.spot-content{
  margin-top: 120px;
  width: 800px;
  height: 600px;
  background-color: #fff;
}

.spot-back{
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
}

.spot-name{
  padding-left: 160px;
  margin-top: 20px;
}

.spot-text{
  width: 450px;
  border-bottom: solid 2px #b20000;
}

.spot-description-title{
  margin-top: 20px;
}

.spot-description{
  padding-left: 160px;
  width: 600px;
}

.favorite-spot{
  margin-left: 160px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 17px;
  border: solid 2px #b20000;
  width: 200px;
  height: 60px;
  font-size: 14px;
}

.favorite-content{
  height: 900px;
  width: 500px;
  background-color: #fff;
  margin-top: -590px;
}


.favorite-image-spot{
  margin-left: 90px;
  padding-top: 20px;
  padding-left: 10px;
  width: 250px;
  height: 170px;
}

.favorite-spot-name{
  padding-left: 5px;
  margin-top: 20px;
}

.favorite-spot-text{
  width: 450px;
  border-bottom: solid 2px #b20000;
  font-size: 10px;
}

.favorite-spot-description-title{
  margin-top: 10px;
  font-size: 10px;
}

.favorite-spot-description{
  padding-left: 10px;
  width: 450px;
  font-size: 10px;
  margin-bottom: 30px;
}